@media only screen and (max-width:1180px) {
    .container {
        padding: 20px;
    }

}

@media only screen and (max-width:500px) {
    .container {
        max-width: 350px;
        padding: 15px
    }
    input{
        margin: auto;
        
    }
    .user {
        padding: 15px;
        margin: 0px;
        gap: 2px;
    }

    .user input {
        
        padding: 4px 15px;
        /* margin: auto; */
        margin: 5px 0;
        
    }

    .btn {
        width: 250px;
        margin: auto;
    }

    .btn button {
        margin: 2px 0px;
    }
    
    .result .inner {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: start;
        padding: 5px;
        margin: 5px 0;
    }

    .inner label {
        margin-left: 30px;
    }
}

@media only screen and (max-width:400px) {
    .container {
        width: 300px;
        padding: 30px;
    }

}